/* 
Author : Chris ;
Theme : PHPFramework ;
Description : Module flex (method SMACSS) ; 
Tags : Framework, PHP ;
*/

.d-flex {
    display: flex;
}
.justify-content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}