{% extends 'layouts/app.html.twig' %}

{% block title %} {{ task.getTitle() }} {{ parent() }}
{% endblock %}

{% block content %}
	<div class="col-9">
		<section>
			<div class="card">
				<h1>{{ task.getTitle() }}</h1>
				<div class="card-body mb-3">
					<p>{{ task.getContent() }}</p>
					<a href="/tasks">Go back</a>
				</div>
			</div>
		</section>
	</div>
{% endblock %}
